<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Złóż zamówienie</title>
</head>
<body>


<!--i18n-->
<th:block th:include="template :: navigator"/>
<th:block th:include="template :: message"/>


<main role="main" class="container">
    <h1 class="table-head-title">Create order</h1>



    <form th:action="@{'/order/createOrder/'+${user.getId()}}" method="get">
        <div>
            <label>Typ i Kaloryczność</label><br>

            <select name="cateringType" required="true">

                <option value="N 12">Normal 1200 kcal</option>
                <option value="N 15">Normal 1500 kcal</option>
                <option value="N 20">Normal 2000 kcal</option>
                <option value="N 25">Normal 2500 kcal</option>
                <option value="N 30">Normal 3000 kcal</option>
                <option value="N 35">Normal 3500 kcal</option>
                <option value="W 15">Wege 1500 kcal</option>
                <option value="W 30">Wege 3000 kcal</option>
                <option value="G 2">Gain X2 dziennie</option>
                <option value="G 3">Gain X3 dziennie</option>
                <option value="G 4">Gain X4 dziennie</option>
                <option value="G 5">Gain X5 dziennie</option>
                <option value="Z 1">Zdrowe obiadki</option>
                <option value="WZ 1">Wege zdrowe obiadki</option>
            </select><br><br>
        </div>

        <div>
            <label>Ilość dni</label><br>
            <select name="durationDays" required="true">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="20">20</option>
            </select><br><br>
        </div>

        <button class="btn btn-primary" type="submit">Dalej</button>
    </form>
</main>
<th:block th:include="template :: scripts_footer"/>

</body>
</html>