<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Customer Panel Page</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h1 class="display-4">Choose the action type<br></h1>
            </div>
        </div>
    </div>
</div>
<div class="py-3 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-6 p-4"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                <p class="lead" >List my orders</p> <a class="btn mt-3 btn-primary" th:href="@{/appUserPage/myOrderList}">Click</a>
            </div>
            <div class="col-lg-4 col-6 p-4"> <i class="d-block fa fa-stop-circle fa-3x mb-2 text-muted"></i>
                <p class="lead">I want to update my user details</p> <a class="btn mt-3 btn-primary" th:href="@{/appUserPage/updateUser}">Clock</a>
            </div>
            <div class="col-lg-4 col-6 p-4"> <i class="d-block fa fa-circle-o fa-3x mb-2 text-muted"></i>
                <p class="lead">I want to change my password</p><a class="btn mt-3 btn-primary" th:href="@{/appUserPage/changePassword}" >Click<br></a>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="template :: scripts_footer"/>
</html>
