<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
</head>
<body>
<th:block th:include="template :: navigator"/>

<div class="py-5 text-center">
    <div class="container">
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-8">
                <h1 style="">Change your password<br><br></h1>
                <form class="form-inline d-flex justify-content-around" th:action="@{'/appUserPage/changePassword/'+${user.getId()}}" method="post">
                    <div class="form-group"> <input type="password" class="form-control" placeholder="Password" name="password" id="password"> </div>
                    <div class="form-group"> <input type="password" class="form-control" id="passwordConfirm" placeholder="Password confirm" name="passwordConfirm"> </div> <button type="submit" class="btn btn-primary">Change password<br></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</body>
<th:block th:include="template :: scripts_footer"/>
</html>