<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Złóż zamówienie</title>
</head>
<body>


<!--i18n-->
<th:block th:include="template :: navigator"/>
<th:block th:include="template :: message"/>


<main role="main" class="container">
    <h1 class="table-head-title">Create Order</h1>

    <!--th:action : nazwa metody przypisanej do mappingu-->


    <form th:action="@{'/order/createOrder/'+${userId}}" method="post">
        <input type="hidden" name="cateringType" th:value="${kalorycznosc}">
        <input type="hidden" name="durationDays" th:value="${dniowosc}">

       Delivery address ( leave blank if you want to use your default )

        <br>
        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input class="form-control" type="text" id="postalCode" name="deliveryPostalCode">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input class="form-control" type="text" id="city" name="deliveryCity">
        </div>
        <div class="form-group">
            <label for="address">Street / house number</label>
            <input class="form-control" type="text" id="address" name="deliveryAddress">
        </div>
        <br><br><br>
        <div class="form-group">
            <label for="note">Extra notes</label>
            <input class="form-control" type="text" id="note" name="note">
        </div>


        <button class="btn btn-primary" type="submit">Proceed</button>
    </form>
</main>
<th:block th:include="template :: scripts_footer"/>

</body>
</html>