<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="template :: scripts_header"/>
</head>
<body>
<th:block th:include="template :: navigator"/>
<form th:action="@{'/order/createOrder/'+${user.getId()}}" method="get">
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-2" style="">Create the order<br></h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="display-4">Choose type and calories</h1>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 class="display-4">Choose duration</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <select name="cateringType" required="true">
          <!--wybranie tej opcji spowoduje przeslanie w formularzu "N12"-->
          <option value="N 12">Normal 1200 kcal</option>
          <option value="N 15">Normal 1500 kcal</option>
          <option value="N 20">Normal 2000 kcal</option>
          <option value="N 25">Normal 2500 kcal</option>
          <option value="N 30">Normal 3000 kcal</option>
          <option value="N 35">Normal 3500 kcal</option>
          <option value="W 15">Wege 1500 kcal</option>
          <option value="W 30">Wege 3000 kcal</option>
          <option value="G 2">Gain X2 dziennie</option>
          <option value="G 3">Gain X3 dziennie</option>
          <option value="G 4">Gain X4 dziennie</option>
          <option value="G 5">Gain X5 dziennie</option>
          <option value="Z 1">Zdrowe obiadki</option>
          <option value="WZ 1">Wege zdrowe obiadki</option>
        </select>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <select name="durationDays" required="true">
          <option value="1">1 Day</option>
          <option value="5">5 Days</option>
          <option value="20">20 Days</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><button class="btn btn-primary" type="submit">Continue</button></div>
    </div>
  </div>
</div>
</form>
</body>
<th:block th:include="template :: scripts_footer"/>

</html>