<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<html>
<head>

    <th:block th:include="template :: scripts_header"/>
</head>

<body>
<th:block th:include="template :: navigator"/>
<!--url('https://static.pingendo.com/cover-bubble-dark.svg')-->
<div class="py-5 text-center h-100" style="background-image: url('http://hfood.pl/bundles/app/img/slider/baner_healthy_food_catering_dietetyczny.jpg');background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="bg mx-auto col-md-8 col-10 p-5 w-100 h-50 text-light text-center border-dark" style="">
                <h3 class="display-3" >Welcome</h3>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-8">
                <h1 class="mb-3">Best catering worldwide</h1>
                <p class="lead">When, while the lovely valley teems with vapour around me. </p>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-3 px-4">
                <p class="mb-0 text-left">Delicious<br><br></p>
            </div>
            <div class="col-md-6 border-left my-3 px-4">
                <p class="mb-0 text-right">Seriously</p>
            </div>
        </div>
    </div>
</div>
<div class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Diet types<br></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                <h4> <b>Normal</b></h4>
                <p>Normal Diet<br></p>
            </div>
            <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-stop-circle-o fa-3x mb-2 text-muted"></i>
                <h4>Vegetarian</h4>
                <p>Vegetarian diet<br></p>
            </div>
            <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-stop-circle fa-3x mb-2 text-muted"></i>
                <h4> <b>Gain</b><br></h4>
                <p>Gain diet</p>
            </div>
            <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-circle-o fa-3x mb-2 text-muted"></i>
                <h4> <b>Fit lunch</b><br></h4>
                <p>fit lunch everyday<br></p>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://img.grouponcdn.com/deal/rEXp8Xxny7kC71uVjSqY7T5zyDd/rE-940x564/v1/c700x420.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://thumbs.img-sprzedajemy.pl/1000x901c/21/a3/a4/sprzedam-catering-dietetyczny-dobrze-znana-marka-491021650.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLoWYKBN8TcVfVK3yD-HyFTN8DJVE-4qute19EJ37AbSeZx3oV"> </div>
            <!--https://static.pingendo.com/cover-bubble-light.svg"-->
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://img.grouponcdn.com/deal/3jSYxfN2vpg7V7zpm5n4NUmAdMJP/3j-1500x900/v1/c700x420.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://cdn.katalogsmakow.pl/2017/05/23/0x600/catering-dietetyczny-jak-dobrac-kalorycznosc-zamawiajac-diete.599418.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://www.pkt.pl/articles/1/g/3/f-18910-wiele-mozliwosci-i-zalet-cateringu-dietetycznego.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://thumbs.img-sprzedajemy.pl/1000x901c/ad/3f/43/dieta-bezglutenowa-catering-dietetyczny-503561463.jpg"> </div>
            <div class="col-6 col-md-3 p-0"> <img class="img-fluid d-block" src="https://polki.pl/foto/1_X_LARGE/polki-pl-przetestowaly-catering-dietetyczny-dietbox-205693.jpg"> </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-center">
                            <h3> Normal</h3>
                            <a class="btn btn-link" href="#">Start now</a>
                        </th>
                        <th class="text-center">
                            <h3>Vege<br></h3><a class="btn btn-link" href="#">Start now</a>
                        </th>
                        <th class="text-center">
                            <h3>Gain</h3>
                            <a class="btn btn-link" href="#">Start now</a>
                        </th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>For regular folks</td>
                        <td style="">The Veggie Enthusiast</td>
                        <td>GAINS EVERYWHERE</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1200 kcal</td>
                        <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1500 kcal</td>
                        <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                        <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2000 kcal</td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2500 kcal</td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3000 kcal</td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                    </tr>
                    <tr>
                        <td>3500 kcal</td>
                        <td><i class="fa fa-check fa-lg text-muted"></i></td>
                        <td></td>
                        <td style=""> <i class="fa fa-check fa-lg text-muted"></i> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">FAQ<br></h1>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 p-4">
                <h4 class="text-center">#1</h4>
                <p class="text-center">I dont</p>
            </div>
            <div class="col-lg-3 col-md-2 p-4">
                <h4> <b>#2</b> </h4>
                <p>really know</p>
            </div>
            <div class="col-lg-3 col-md-2 p-4">
                <h4> <b>#3</b> </h4>
                <p>the questions</p>
            </div>
            <div class="col-lg-3 col-md-2 p-4">
                <h4> <b>#4</b> </h4>
                <p>yet</p>
            </div>
            <div class="col-lg-3 col-md-2 p-4">
                <h4 style=""></h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-white bg-dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="">
                    <div class="mx-auto col-md-4">
                        <p class="mb-3 lead text-center">Follow us</p>
                        <div class="row">
                            <div class="col-md-12 d-flex align-items-center justify-content-between"> <a href="#">
                                <i class="d-block fa fa-twitter text-muted fa-2x"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-google-plus-official text-muted fa-2x"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-instagram text-muted fa-2x"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-pinterest-p text-muted fa-2x"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-reddit text-muted fa-2x"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-facebook-official text-muted fa-2x"></i>
                            </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<th:block th:include="template :: scripts_footer"/>


</html>