<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
</head>
<body>
<th:block th:include="template :: navigator"/>

<div class="py-5 h-100" style="background-image: url('https://static.pingendo.com/cover-stripes.svg'); background-position:left center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6">
                <h1>Login</h1>
                <p class="mb-3">Login to catering service</p>
                <form th:method="login" method="post">
                    <div class="form-group"> <input type="text" class="form-control" placeholder="User name" name="username" required="required" id="username"> </div>
                    <div class="form-group"> <input type="password" class="form-control" placeholder="Password" id="password" name="password"> <small class="form-text text-muted text-right">
                        <a th:href="@{/register}"> Need an account?</a>
                    </small> </div> <button type="submit" class="btn btn-primary">Login<br></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="template :: scripts_footer"/>
</html>